* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************** BAGGRUND *********************************/
body {
  position: relative;
  background-color: #f0ffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.forsidebody {
  background-image: url("img/baggrundinfiny.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

/*************************** MENU *********************************/
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fda1ca;
  top: 0;
  padding: 1rem 2rem;
  box-shadow: 0 8px 28px 0 rgb(0 0 0 / 30%);
  z-index: 100;
}

.logo {
  z-index: 100;
}
.logo img {
  width: 40px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #0f1f9e;
  text-transform: uppercase;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120%;
}
a:hover {
  color: #faea61;
}
a:active {
  color: #faea61;
}

/*************************** BURGER MENU *********************************/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 110%;
  height: 30%;
  background-color: #faea61;
  margin-bottom: 11%;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    z-index: 10;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #fda1ca;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*************************** FOOTER *********************************/
footer {
  position: relative;
  bottom: 0;
  margin-top: 25%;
  background-color: #faea61;
  padding: 10%;
}
footer a {
  width: 10%;
}

.footerindhold {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

/* media query for mobile devices */
@media (max-width: 800px) {
  .grid_1 {
    flex-direction: column;
  }

  .grid_1 {
    flex-basis: 100%;
  }
}

/* media query for desktop devices */
@media (min-width: 800px) {
  .grid_1 {
    flex-direction: row;
  }
}
/*************************** OVERSKRIFTER *********************************/
@media screen and (max-width: 750px) {
  .overskrifter {
    margin-left: 4%;
    margin-right: 4%;
  }
  .box_02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    column-gap: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 20%;
  }
}

.overskrifter {
  display: flex;
  justify-content: center;
}
h1 {
  padding: 1%;
  margin-top: 6%;
  place-items: center;
  text-align: center;
  border: 8px solid #0f1f9e;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 4cqw;
  color: #0f1f9e;
  text-transform: uppercase;
  width: fit-content;
  background-color: azure;
}

h2 {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 2cqw;
  color: #0f1f9e;
  text-transform: uppercase;
  background-color: azure;
}

h3 {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 2cqw;
  color: #0f1f9e;
  text-transform: uppercase;
  background-color: azure;
}

/*03.04.01 osv  */
h4 {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 2cqw;
  color: #fda1ca;
  text-transform: uppercase;
}

h5 {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 2cqw;
  color: #0f1f9e;
  text-transform: uppercase;
}

/*************************** FORSIDE *********************************/
#midtext {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

#midtext li {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-size: 9cqw;
  color: #0f1f9e;
  text-transform: uppercase;
  list-style: none;
}

#imgcred {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 15;
  margin-top: 4%;
}

#imgcred img {
  width: 50%;
}

/***************************  FORSIDE - scroll  *********************************/
.scroll-container {
  overflow: hidden;
}
.pverti {
  overflow: hidden;

  writing-mode: vertical-rl;
  color: #faea61;
  text-transform: uppercase;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5cqw;
  position: absolute;
  z-index: -100;

  display: flex;
  /* width: 100%; */
  gap: 4%;

  margin: -10%;

  /* animation  */
  transform: translateY(-100%);
  animation: animation_01 30s linear infinite;
}

@keyframes animation_01 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pverti2 {
  overflow: hidden;

  writing-mode: vertical-rl;
  color: #faea61;
  text-transform: uppercase;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5cqw;
  position: absolute;
  z-index: -100;

  display: flex;
  width: 100%;
  gap: 4%;
  margin-left: -10%;
  /* animation  */
  transform: translateY(-100%);
  animation: animation_01 30s linear infinite;
}

/****************************** BUTTON ********************************/
.center_button {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}
.site_button {
  color: #faea61;
  text-transform: uppercase;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 2% 2%;
  border: 8px solid #0f1f9e;
  font-size: 150%;
  text-transform: uppercase;
  transition: background 0.275s;
  background: #fda1ca;
}

.site_button:hover,
.site_button:focus {
  border: 8px solid #0f1f9e;
  background: #faea61;
  color: #fda1ca;
  cursor: pointer;
}
